* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

body {
  width: auto;
  height: max-content;
  background: var(--BG-1, #292f36);
}

.Menu_bar_rect {
  display: flex;
  padding: 35px 50px;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

.Menu_bar_font {
  color: var(--White, #fff);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  text-transform: capitalize;
}

.below_menu_bar_line {
  margin: 15px 0px;
}


.card {
  width: 80%;
  max-width: 470px;
  background: url('../public/assets/images/card_bg.png');
  margin: -30px auto 0;
  border-radius: 20px;
  padding: 40px 25px;
  text-align: center;
  color: white;
}


.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .search input {
    width: 1%;
    margin-right: 10px;
  }

  .search button {
    width: 50px;
    height: 50px;
  }

  .search button img {
    width: 15px;
  }
}